snippet ifn
#ifndef $1
#define $1

$0

#endif
endsnippet

snippet cpp
#include <bits/stdc++.h>
#define nl "\n"
#define ll long long
#define imax INT_MAX
#define v vector

using namespace std;

void runCase(){
	$0
}

int main(){
	cin.tie(0);
	cin.sync_with_stdio(0);
	
	int t; cin >> t;

	while(t--){
		runCase();
	}
}
endsnippet
